/* Add CSS Styling */

.odd{
    background:rgb(240, 176, 176);
    font-family: Verdana, DejaVu-Sans, sans-serif;
}

#id-1{
    color: blue;
 font-size: 36px;
}

.num-3{
    font-size: 24px;
}

#id-2{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}