/* Add CSS Styling */

.btn1 , .btn2{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif,Times-New-Roman;
}
.btn1{
    background: #000;
    color: white;
}

.btn2{
    background-color: yellow;
}
